<!DOCTYPE HTML>

<html>
	<head>
	
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	   	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
		<title>{% block title %}Star{% endblock %}</title>
		
	</head>
  <body>
  
	  
  	
    {% block body %}
	    	
    {% endblock %}
    
    {% block script %}
    
    {% endblock %}
    
    <div class="container">
        <br />
        <br />
    	© ISTIC Rennes 2015 Tous droits réservés
    </div>
  
  </body>
</html>



